<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="addIngredient()" #ingredientForm="ngForm">
      <div class="row">
          <div class="col-sm-5 form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" class="form-control" #ingredientName="ngModel" ngModel required/>
              <div class="alert alert-danger" *ngIf="!ingredientName.valid && ingredientName.touched">
                <span *ngIf="ingredientForm.controls['name'].errors['required']">Please enter an ingredient name</span>
              </div>
          </div>
          <div class="col-sm-4 form-group">
              <label for="amount">Amount</label>
              <input type="number" 
                     id="amount" 
                     name="amount" 
                     class="form-control" 
                     ngModel 
                     required
                     #amount="ngModel"
                     pattern="[0-9]+"/>
            <div class="alert alert-danger" *ngIf="!amount.valid && amount.touched">
              <span *ngIf="ingredientForm.controls['amount'].errors['pattern']">Please enter a quantity greater than zero</span>
              <span *ngIf="ingredientForm.controls['amount'].errors['required']">Please enter a quantity</span>
            </div>
          </div>
          
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
                class="btn btn-success" 
                type="submit"
                [disabled]="!ingredientForm.valid">{{editMode ? 'Update': 'Add'}}</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-primary" (click)="clearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>